{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mb-4">Вход</h2>

        {{ form_errors(loginForm) }}

        {{ form_start(loginForm) }}
            <div class="row">
                {{ form_row(loginForm.email) }}
                {{ form_row(loginForm.plainPassword, {
                    label: 'Пароль'
                }) }}
            </div>

            <button type="submit" class="btn btn-primary mt-2">Войти</button>
        {{ form_end(loginForm) }}
    </div>
{% endblock %}
